#our{
  .our{
    padding: 10% 0 0 0;
    &--text{
      h1{
        width: 238px;
        flex-shrink: 0;
        color: var(--text-212121, #212121);
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
      }
    }
    &--title{
      &__miss{
        &--mr{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 120px;
          &__fotos{
            display: flex;
            width: 315px;
            height: 419px;
            flex-direction: column;
            align-items: center;
            gap: 28px;
            border-radius: 8px;
            background: #FFF;
            box-shadow: 5px 8px 24px 0 rgba(0, 0, 0, 0.10);
            h1{
              margin: -10px 0 -15px 0;
              color: #000;
              font-size: 20px;
              font-weight: 500;
              line-height: normal;
              text-transform: capitalize;
            }
            p{
              color: rgba(123, 106, 255, 0.50);
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-transform: capitalize;
            }
          }

        }
        &--kl{
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 70px;
          margin-bottom: 203px;
          &__fotos{
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 8px;
            box-shadow: 5px 8px 24px 0 rgba(0, 0, 0, 0.10);
            background: #FFF;
            gap: 28px;
            width: 315px;
            height: 419px;
            padding-bottom: 0;
            h1{
              margin: -10px 0 -15px 0;
              color: #000;
              font-size: 20px;
              font-weight: 500;
              line-height: normal;
              text-transform: capitalize;
            }
            p{
              color: rgba(123, 106, 255, 0.50);
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              text-transform: capitalize;
            }
          }

        }
      }
    }
  }
}