#what{
  .what{
    &--title{
      margin: 98px 0 0 0;
      h1{
        color: #000;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
      }
      &__tome{
        width: 126px;
        height: 3px;
        flex-shrink: 0;
        border-radius: 2px;
        background: #6483F6;
      }
      img{
        margin: 60px 0 62px 0;
      }
      h2{
        color: #002AC0;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
      }
      p{
        margin: 16px 0 26px 0;
        width: 1108px;
        height: 63px;
        color: #010D39;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        text-transform: capitalize;
      }
      &__list{
        li{
          height: 35px;
          flex-shrink: 0;
          color: #333;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-transform: capitalize;
        }
      }

      h3{
        margin: 32px 0 20px 0;
        color: #002AC0;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
      }
      &__lol{
        p{
          width: 1097px;
          height: 105px;
          flex-shrink: 0;
          color: #333;
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          line-height: 28px;
          text-transform: capitalize;
          position: relative;
          margin: 0 0 0 20px;
          &::before{
            content: '';
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #000;
            position: absolute;
            top: 10px;
            left: -20px;
          }
        }

      }
      h6{
        margin-bottom: 50px;
        width: 1166px;
        height: 152px;
        color: #010D39;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        text-transform: capitalize;
      }

    }
  }
}
@media (max-width: 1440px) {
  .container{
    width: 90%;
  }
}
@media (max-width: 1200px) {
  #what .what--title img {
    width: 100%;
  }
  #what .what--title h6 {
    margin-bottom: 60px;
    width: 1068px;
  }
  
}
@media (max-width: 1024px) {
  #what .what--title h1{
    font-size: 38px;
    font-weight: 500;
  }
  #what .what--title h2{
    font-size: 27px;
    font-weight: 500;
  }
  #what .what--title p{
    width: 842px;
    height: 47px;
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
  }

  #what .what--title__list li{
    width: 104px;
    font-size: 15px;
    font-weight: 500;
  }
  #what .what--title h3{
    font-size: 27px;
    font-weight: 500;
  }
  #what .what--title h6{
    width: 833.986px;
    height: 108.719px;
    color: #010D39;
    font-size: 15px;
    font-weight: 400;
    line-height: 20.027px;
  }
}
@media (max-width: 768px) {
  
  #what .what--title p {
    width: 665px;
    margin-bottom: 30px;
  }
}
@media (max-width: 576px) {
  #what .what--title p {
    width: 500px;
    margin-bottom: 50px;
  }
  #what .what--title h6 {
    width: 509.986px;
    margin-bottom: 95px;
  }

}
@media (max-width: 450px) {
  #what .what--title p {
    width: 393px;
    margin-bottom: 68px;
  }
  #what .what--title h6 {
    width: 392.986px;
    margin-bottom: 140px;
  }
}
@media (max-width: 400px) {
  #what .what--title h6 {
    width: 353.986px;
    margin-bottom: 160px;
  }
  #what .what--title p {
    width: 312px;
    margin-bottom: 68px;
  }
}
@media (max-width: 376px) {
  #what .what--title h1{
    width: 259px;
    font-size: 28px;
    font-weight: 500;
  }
  #what .what--title h2{
    width: 305px;
    height: 47px;
    font-size: 20px;
    font-weight: 500;
  }
  #what .what--title p{
    width: 334px;
    height: 126px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
  }
  #what .what--title h3{
    width: 224px;
    height: 27px;
    font-size: 20px;
    font-weight: 500;
  }
  #what .what--title h6{
    width: 334px;
    height: 404px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 0;
  }
}
@media (max-width: 320px) {
  #what .what--title p {
    width: 251px;
    margin-bottom: 52px;
  }
  #what .what--title h6 {
    width: 283px;
    margin-bottom: 33px;
  }
}