#tabs{
  padding: 5% 0;
  .tabs{
    &--block{
      transition: .55s;
      background: red;
      width: 413px;
      height: 2px;
    }
    &--bloc{
      position: relative;
      width: 1240px;
      height: 48.447px;
      flex-shrink: 0;
      border-radius: 3.727px;
      background: #F5F5F5;
      display: flex;
      align-items: center;
      justify-content: space-around;
      &__description{
        text-align: center;
        width: 111px;
        cursor: pointer;
        color: var(--text-212121, #212121);
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
      }
      &__cost{
        text-align: center;
        width: 111px;
          cursor: pointer;
          color: var(--text-212121, #212121);
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-transform: capitalize;
        }
      &__photo{
        text-align: center;
        width: 111px;
        cursor: pointer;
        color: var(--text-212121, #212121);
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
      }
    }
    &--content{
      //flex-grow: 1;
      display: block;
      &__active{
        display: flex;
        padding: 13px 0 0 0;
        justify-content: space-between;
        &--nike{
          padding: 35px 0 0 0;
          &__nomer{
            display: flex;
            align-items: center;
            margin-bottom: 52px;
            img{
              margin: 0 97px 0  0;
            }
            &--a{
              h1{
                color: var(--text-212121, #212121);
                font-size: 36px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-transform: capitalize;
              }
              h2{
                width: 287px;
                color: #1AA2EE;
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                margin-top: 8px;
              }
            }
          }
          &__duration{
            display: flex;
            margin-bottom: 40px;
            h1{
              width: 200px;
              color: var(--text-1212, #010D39);
              font-size: 22px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            h2{
              color: #212121;
              font-size: 22px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              margin-left: 21px;
            }
          }
          &__awards{
            display: flex;
            margin-bottom: 30px;
            position: relative;
            h1{
              width: 89px;
              color: var(--text-1212, #010D39);
              font-size: 22px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              span{
              }
              span::before{
                content: '';
                width: 559.008px;
                height: 1px;
                background: #212121;
                position: absolute;
                top: 176px;
                left: 0;
              }
            }
            h2{
              margin-left: 132px;
              width: 338px;
              color: #212121;
              font-size: 22px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              span{
                color: #212121;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }
            }
          }
          &__hover{
            display: flex;
            padding-top: 8%;
            h1{
              width: 124px;
              color: var(--text-1212, #010D39);
              font-size: 22px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            p{
              margin-left: 97px;
              width: 233px;
              color: #212121;
              font-size: 22px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              position: relative;
              span{
                color: #212121;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }span::before{
                 content: '';
                 position: absolute;
                 top: 80px;
                 left: 0;
                 width: 338.061px;
                 height: 1px;
                 background: #212121;
               }
            }
          }
          &__hovers{
            display: flex;
            padding-top: 5.5%;
            h1{
              width: 124px;
              color: var(--text-1212, #010D39);
              font-size: 22px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            p{
              margin-left: 97px;
              width: 233px;
              color: #212121;
              font-size: 22px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              position: relative;
              span{
              }span::before{
                 content: '';
                 position: absolute;
                 top: 80px;
                 left: 0;
                 width: 338.061px;
                 height: 1px;
                 background: #212121;
               }
            }
          }
          &__love{
            display: flex;
            margin-top: 50px;
            h1{
              width: 140px;
              color: var(--text-1212, #010D39);
              font-size: 22px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              position: relative;
              span{
              }
              span::before{
                content: '';
                width: 559.008px;
                height: 1px;
                background: #212121;
                position: absolute;
                top: 246px;
                left: 0;
              }
            }
            &--loves{
              width: 338px;
              height: 248px;
              margin-left: 81px;
              position: relative;
              h6{
                margin-bottom: 40px;
                width: 338px;
                flex-shrink: 0;
                color: #212121;
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
              p{
                flex-shrink: 0;
                color: #212121;
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
            }

          }
          &__fee{
            display: flex;
            margin-top: 10px;
            h1{
              width: 124px;
              color: var(--text-1212, #010D39);
              font-size: 22px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            &--no{
              width: 335px;
              position: relative;
              margin-left: 100px;
              margin-top: 15px;
              h5{
                color: #212121;
                font-size: 22px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
              p{
                color: #212121;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-top: 20px;
                span {
                }span::before{
                   content: '';
                   position: absolute;
                   top: 190px;
                   left: 0;
                   width: 338.061px;
                   height: 1px;
                   background: #212121;
                 }
              }
            }
          }
          &__tea{
            display: flex;
            margin-top: 60px;
            h1{
              width: 140px;
              color: var(--text-1212, #010D39);
              font-size: 22px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
            p{
              margin-left: 81px;
              width: 338px;
              height: 250px;
              flex-shrink: 0;
              color: #212121;
              font-size: 22px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
            }
          }
        }
        &--nikes{
          width: 448px;
          height: 1051px;
          flex-shrink: 0;
          padding: 25px 34px 25px 34px;

          background: #FDFDFD;
          box-shadow: 4.607201099395752px 7.371521949768066px 22.114566802978516px 0px rgba(0, 0, 0, 0.10);
          &__not{
            width: 100%;
            height: 66px;
            flex-shrink: 0;
            background: #1AA2EE;
            h1{
              padding-top: 19px;
              color: #FDFDFD;
              text-align: center;
              font-size: 22px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              text-transform: capitalize;
              span{
                color: #FDFDFD;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-transform: capitalize;
              }
            }
          }
          &__nots{
            margin-top: 33px;
            display: flex;
            img{
              margin-bottom: 140px;
              margin-right: 21px;
            }
            &--calendar{
              width: 313px;
              h5{
                color: #212121;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }
              p{
                color: #212121;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-top: 10px;
              }
              h6{
                color: #212121;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            }
          }
          &__cat{
            display: flex;
            margin-top: 40px;
            img{
              margin-bottom: 90px;
              margin-right: 21px;
            }
            &--cast{
              width: 317px;
              h5{
                color: #212121;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }
              p{
                color: #212121;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-top: 10px;
              }
              h6{
                color: #212121;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-top: 10px;
              }
            }
          }
          &__study{
            display: flex;
            margin-top: 40px;
            img{
              margin-right: 21px;
            }
            &--studies{
              width: 228px;
              h5{
                color: #212121;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }
              p{
                margin-top: 10px;
                color: #212121;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            }
          }
          &__now{
            width: 100%;
            height: 85px;
            flex-shrink: 0;
            margin-top: 60px;
            margin-bottom: 20px;

            background: rgba(26, 162, 238, 0.50);
            h1{
              padding: 15px 79px 15px 119px;
              width: 202px;
              color: var(--3, #FFF);
              text-align: center;
              font-size: 22px;
              font-style: normal;
              font-weight: 700;
              line-height: 138.9%; /* 30.558px */
              text-transform: capitalize;
              span{
                color: var(--3, #FFF);
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 138.9%;
              }
            }
          }
          &__eli{
            display: flex;
            align-items: center;
            &--tu{
              h1{
                width: 6px;
                height: 17px;
                flex-shrink: 0;
                color: #fff;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                position: absolute;
                left: 61.9%;
                top: 830px;
              }
            }
            h3{
              margin-left: 22px;
              width: 350px;
              color: #FF6A6A;
              font-size: 22px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
            }
          }
          &__sr{
            display: flex;
            margin-top: 40px;
            img{
              margin-right: 21px;
            }
            &--srs{
              width: 228px;
              h5{
                color: #212121;
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
              }
              p{
                margin-top: 10px;
                color: #212121;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              }
            }
          }
          &__list{
            width: 380.021px;
            height: 1px;
            background: #212121;
            margin-top: 40px;
            margin-bottom: 54px;
          }
          &__wat{
            display: flex;
            align-items: center;
            h1{
              width: 111px;
              color: #212121;
              font-size: 22px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              margin-left: 44px;
            }
          }
        }
      }
      &__actives{
        align-items: center;
        h1{
          color: var(--text-1212, #010D39);
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 175.9%;
          text-transform: lowercase;
          margin: 57px 0 50px 0;
          span{
            color: var(--text-1212, #36ADF0);
            font-size: 22px;
            font-style: normal;
            font-weight: 600;
            line-height: 175.9%;
            text-transform: capitalize;
          }
        }
        p{
          color: var(--text-1212, #010D39);
          font-size: 22px;
          font-style: normal;
          font-weight: 400;
          line-height: 175.9%;
          text-transform: capitalize;
        }
      }
      &__photo{
        display: flex;
        flex-wrap: wrap;
align-items: center;
        gap: 37px;
        padding: 86px 0 220px 0;
        justify-content: center;
        &--photo1{
          img{
            margin: 0 37px 40px 0;
            width: 369px;
            height: 342px;
          }
        }
        &--photo2{
          img{
            margin: 0 37px 0 0;
            width: 369px;
            height: 342px;
          }
        }
      }
    }
  }
}