#do{
  padding: 5% 0;
  .do{
    &--title {
      margin: 98px 0 0 0;

      h1 {
        color: #000;
        font-size: 48px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
      }

      &__tome {
        width: 126px;
        height: 3px;
        flex-shrink: 0;
        border-radius: 2px;
        background: #6483F6;
      }

      img {
        margin: 60px 0 62px 0;
      }

      h2 {
        color: #002AC0;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
      }
      h3{
        margin: 87px 0 30px 0;
        color: var(--text-11, #002AC0);
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
      }
      h4{
        color: #010D39;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
      }

      p {
        margin: 16px 0 26px 0;
        width: 1108px;
        color: #010D39;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
      }
      h6{
        width: 1108px;
        color: #333;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: capitalize;
        margin-bottom: 40px;
      }
      li{
        height: 24px;
        justify-content: center;
        color: #333;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin: 0 0 25px 30px;

      }
    }
  }
}
@media (max-width: 1440px) {
  .container{
    width: 90%;
  }
}
@media (max-width: 1200px) {
  #do .do--title img {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  #do .do--title h1{
    font-size: 38px;
    font-weight: 500;
  }
  #do .do--title h2{
    width: 711px;
    height: 51px;
    font-size: 27px;
    font-weight: 500;
  }
  #do .do--title p{
    width: 842px;
    height: 50.915px;
    font-size: 15px;
    font-weight: 400;
  }
  #do .do--title h3{
    width: 626.955px;
    height: 50.855px;
    font-size: 27px;
    font-weight: 500;
  }
  #do .do--title h4{
    width: 312.718px;
    height: 44.023px;
    font-size: 24px;
    font-weight: 500;
  }
  #do .do--title p{
    width: 841px;
    font-size: 15px;
    font-weight: 400;
  }
  #do .do--title h6{
    width: 841px;
    font-size: 15px;
    font-weight: 400;
  }

}
@media (max-width: 768px) {
  #do .do--title p {
    width: 692px;
    font-size: 15px;
    font-weight: 400;
  }
  #do .do--title h6 {
    width: 695px;
    font-size: 15px;
    font-weight: 400;
  }
}
@media (max-width: 576px) {
  #do .do--title h1 {
    font-size: 30px;
  }
  #do .do--title h2 {
    font-size: 24px;
  }
  #do .do--title h3 {
    font-size: 24px;
  }
  #do .do--title h4 {
    font-size: 22px;
  }
  #do .do--title p {
    width: 523px;
    margin: 0 0 45px 0;
  }
  #do .do--title h6 {
    width: 524px;
    font-size: 15px;
    font-weight: 400;
  }
  #do .do--title li {
    height: 24px;
    justify-content: center;
    color: #333;
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 15px 16px;
  }
  
}
@media (max-width: 450px) {
  #do .do--title h1 {
    font-size: 27px;
  }
  #do .do--title h2 {
    font-size: 19px;
  }
  #do .do--title p {
    width: 390px;
    margin: 0 0 73px 0;
  }
  #do .do--title h4 {
    font-size: 18px;
  }
  #do .do--title h6 {
    width: 402px;
    font-size: 15px;
    font-weight: 400;
  }
  #do .do--title h3 {
    font-size: 19px;
  }
  #do .do--title li {
    height: 24px;
    justify-content: center;
    color: #333;
    font-size: 15px;
    font-weight: 500;
    margin: 0 0 12px 13px;
  }
}
@media (max-width:400px) {
  #do .do--title h1 {
    font-size: 25px;
  }
  #do .do--title__tome {
    width: 93px;
  }
  #do .do--title img {
    margin: 40px 0 38px 0;
  }
  #do .do--title h2 {
    width: 374px;
    margin-bottom: 15px;
  }
  #do .do--title h6 {
    width: 372px;
  }
  #do .do--title p {
    width: 357px;
    margin: 0 0 90px 0;
  }

}
@media (max-width: 376px) {
  #do .do--title p {
    width: 323px;
    margin: 0 0 105px 0;
  }
  #do .do--title h6 {
    width: 341px;
  }
  #do .do--title h3 {
    width: 338px;
  }
}
@media (max-width: 320px) {
  #do .do--title h1 {
    font-size: 22px;
  }
  #do .do--title h2 {
    width: 291px;
    font-size: 17px;
  }
  #do .do--title p {
    width: 284px;
    margin: 0 0 122px 0;
  }
  #do .do--title h6 {
    width: 289px;
  }
  #do .do--title h3 {
    font-size: 17px;
    width: 308px;
  }
}