@import "../../../Style/variables.scss";

@import "../../../Style/mixin.scss";

#hero {
  margin: 123px 0 210px 0;

  .hero {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    column-gap: 80px;
    position: relative;

    &-search {
      position: relative;
      display: none;

      &_icon {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: #bbbbbb;
        font-size: 26px;
      }
      input {
        background: rgba(255, 255, 255, 0.95);
        border: 0.8px solid rgba(86, 9, 187, 0.2);
        border-radius: 8px;
        padding: 14px 0 14px 38px;
        font-size: 18px;
        font-weight: 500;
        transition: all .2s linear;

        &:hover {
          &:hover {
            border-radius: 8px;
            border: 0.8px solid #5609BB;
            outline: 5px solid rgba(192, 143, 255, 0.3);
          }
        }
      }
      #search-wrap {
        .search-content {
          @include d-f_fd-c;
          row-gap: 10px;
          background: #FFFFFF;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          border-radius: 8px;
          width: 100%;
          padding: 14px 0 14px 20px;
          position: absolute;
          top: 61px;
          z-index: 1200;

          &_item {
            width: 170px;
            font-weight: 500;
            font-size: 16px;
            color: #212121;
            display: block;
            padding: 4px 8px;
            border-radius: 9px;
            transition: all .3s ease-in-out;

            &:hover {
              background-color: rgba(192, 143, 255, 0.3);
            }
          }
        }
      }
    }
    &-desc {
      h3{
  text-transform: capitalize;
      }

      video{
        width: 150px ;
        height: 150px;
        padding: 0 0 0  400px;
      }

      width: 100%;
      float: left;
      padding-right: 20px;
      opacity: 0;
      transform: translateX(-50px);
      animation: slideIn 0.5s forwards;

      @keyframes slideIn {
        0% {
          opacity: 0;
          transform: translateX(-50px);
        }

         

        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
      padding-top: 45px;

      &_subtitle {
        font-weight: 600;
        font-size: $text-24;
        text-transform: capitalize;
        color: rgba(86, 9, 187, 0.8);
      }
      &_title {
        font-weight: 600;
        font-size: $h1-64;
        line-height: 78px;
        letter-spacing: 0.04em;
        color: #000000;
        margin: 36px 0 17px 0;
      }
      p {
        width: 393px;
        font-weight: 400;
        font-size: $text-18;
        line-height: 133.34%;
        letter-spacing: 0.04em;
        color: #606060;
      }
    }
    &-block {
      height: 600px;
      background: rgb(241,23,104);
background: linear-gradient(133deg, rgba(241,23,104,0.40379901960784315) 5%, rgba(255,255,255,0.908000700280112) 36%, rgba(255,255,255,0.9136029411764706) 56%, rgba(149,0,255,0.38139005602240894) 81%);
      border-radius: 18.75px;
      position: relative;

      &_sm-img {
        width: 165px;
        height: 165px;
        border-radius: 50%;
        animation: example 1.2s linear infinite alternate;

        @keyframes example {
          to {
            transform: translateY(0px);
          }
          from {
            transform: translateY(28px);
          }
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
      .sm-1 {
        position: absolute;
        top: 48px;
        left: 28px;
      }
      &_lg-img {
        width: 302px;
        height: 302px;
        border-radius: 50%;
        animation: example2 2.2s linear infinite alternate;

        @keyframes example2 {
          to {
            transform: translateY(-8px);
          }
          from {
            transform: translateY(10px);
          }
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      .lg-1 {
        position: absolute;
        top: -18px;
        right: -24px;
      }
      .lg-2 {
        position: absolute;
        bottom: -18px;
        left: -24px;
      }
      .sm-2 {
        position: absolute;
        bottom: 48px;
        right: 28px;
      }
      &_blur-top {
        width: 70%;
        height:70%;
        border-radius: 18.75px 0 88% 0;
        overflow: hidden;
        position: relative;

        div {
          position: absolute;
          top: 0;
          left: 0;
          width: 55%;
          height: 55%;
          z-index: -1;
          background: rgba(255, 71, 71, 0.5);
          filter: blur(70.3125px);
        }
      }
      &_blur-bottom {
        width: 70%;
        height:70%;
        border-radius: 88% 0 18.75px 0;
        overflow: hidden;
        position: absolute;
        bottom: 0;
        right: 0;

        div {
          position: absolute;
          bottom: 0;
          right: 0;
          width: 55%;
          height: 55%;
          z-index: -1;
          background: rgba(86, 9, 187, 0.3);
          filter: blur(70.3125px);
        }
      }
    }
    &-contact {
      width: 100%;
      float: left;
      padding-right: 20px;
      opacity: 0;
      transform: translateX(-50px);
      animation: slideIn 0.5s forwards;

      @keyframes slideIn {
        0% {
          opacity: 0;
          transform: translateX(-50px);
        }

         

        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }

      @include alignment;
      width: 69%;
      background: $bg-light;
      box-shadow: -2px 2px 9px 1px rgba(83, 83, 83, 0.25), 2px 6px 5px 1px rgba(178, 178, 178, 0.25);
      border-radius: 80px;
      padding: 24px 30px;
      position: absolute;
      bottom: -32px;
      left: 0;


      &_group {
        @include d-f_al-c;
        column-gap: 16px;

        &-bg {
          @include alignment-center;
          width: 52px;
          height: 52px;
          border-radius: 50%;
          background: #FDE7E9;
        }
        &-desc {
          width: 180px;

          h5 {
            font-weight: 400;
            font-size: 12px;
            color: $heading-dark;
            margin-bottom: 10px;
          }
          input {
            width: 100%;
            font-weight: 400;
            font-size: 17px;
            color: #000000;
            border: none;
            outline: none;
          }
        }
      }
      &_btn {
        background: #109FEF;
        border-radius: 80px;
        font-weight: 500;
        font-size: 17px;
        color: $text-white;
        padding: 19px 70px;
        border: none;
        outline: none;
      }
    }
  }
}

@media (max-width: 1140px) {
  #hero {
    .hero {
      display: grid;
      grid-template-columns: 1fr 1.2fr;
      column-gap: 80px;
      position: relative;

      &-desc {
        &_subtitle {
          font-size: 18px;
        }
        &_title {
          font-size: 50px;
          line-height: 55px;
        }
      }
      &-block {
        height: 560px;

        &_lg-img {
          width: 256px;
          height: 256px;
        }
        .lg-1 {
          top: -10px;
          right: -15px;
        }
      }
      &-contact {
        width: 80%;
        bottom: -68px;
      }
    }
  }

}

@media (max-width: 1024px) {
  #hero {
    margin: 148px 0 124px 0;
    .hero {
      grid-template-columns: 1fr;

      &-search {
        display: block;
        width: 100%;

        input {
          width: 100%;
          padding: 16px 0 16px 38px;
        }
      }
      &-desc {
        padding: 38px 0 55px 0;
        width: 100%;

        &_subtitle {
          font-size: 18px;
        }
        &_title {
          font-size: $h1-768;
          line-height: normal;
          margin: 15px 0;
        }
        p {
          width: 90%;
        }
      }
      &-block {
        width: 100%;
        height: 640px;
        margin: 0 auto;

        .lg-1 {
          top: 0px;
          right: 70px;
        }
        .lg-2 {
          bottom: 0px;
          left: 70px;
        }
        .sm-1 {
          left: 120px;
        }
        .sm-2 {
          bottom: 80px;
          right: 102px;
        }
      }
      &-contact {
        position: static;
        @include d-f_fd-c;
        row-gap: 42px;
        padding: 24px 30px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: -1px 0px 23px 1px rgba(207, 207, 207, 0.2);
        border-radius: 34px;
        margin: 66px auto 0 auto;


        &_group {
          width: 100%;

          &-bg {
            width: 65px;
            height: 65px;
          }
        }
        .group-2 {
          width: 100%;
          margin: 0;
        }
        &_btn {
          width: 100%;
        }
      }
    }
  }

}

@media (max-width: 768px) {
  #hero {
    .hero {
      &-block {
        &_lg-img {
          width: 290px;
          height: 290px;
        }
        .lg-1 {
          top: -10px;
          right: 0;
        }
        .lg-2 {
          bottom: -10px;
          left: 0;
        }
        .sm-2 {
          bottom: 60px;
          right: 50px;
        }
        .sm-1 {
          top: 60px;
          left: 50px;
        }
      }
      &-contact {
        position: static;
        @include d-f_fd-c;
        row-gap: 42px;
        padding: 24px 30px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: -1px 0px 23px 1px rgba(207, 207, 207, 0.2);
        border-radius: 34px;
        margin-top: 66px;


        &_group {
          width: 100%;

          &-bg {
            width: 65px;
            height: 65px;
          }
        }
        .group-2 {
          width: 100%;
          margin: 0;
        }
        &_btn {
          width: 100%;
        }
      }
    }
  }
  #hero .hero-search input {
    width: 96%;
    padding: 14px 0 14px 38px;
}
}

@media (max-width: 620px) {
  #hero {
    .hero {
      &-block {
        &_lg-img {
          width: 230px;
          height: 230px;
        }
        .lg-1 {
          top: -18px;
          right: -4px;
        }
        .lg-2 {
          bottom: -18px;
          left: -4px;
        }
      }
    }
  }
}





@media (max-width: 576px) {
  #hero .hero-contact{
    display: none;
  }
  #hero .hero-contact_group-bg {
    width: 45px;
    height: 45px;
}
#hero .hero-contact_group-desc h5 {
  font-weight: 400;
  font-size: 11px;
  color: #212121;
  margin-bottom: 1px;
}
  #hero .hero-contact_group-desc input {
    width: 78%;
    font-weight: 400;
    font-size: 12px;
    color: #000000;
    border: none;
    outline: none;
}
  #hero .hero-search input {
    width: 86%;
    padding: 16px 0 16px 38px;
}
#hero .hero-block {
  width: 95%;
  left: -17px;
  height: 640px;
  margin: 0 auto;
}
#hero .hero-block {
  width: 95%;
  left: -17px;
  height: 496px;
  margin: 0 auto;
}
#hero .hero-block .sm-1 {
  top: 21px;
  width: 150px;
  height: 150px;
  left: 50px;
}
#hero .hero-block .sm-2 {
  bottom: 60px;
  width: 150px;
  height: 150px;
  right: 50px;
}
#hero .hero-block {
  width: 95%;
  top: -30px;
  left: -17px;
  height: 496px;
  margin: 0 auto;
}

}

@media (max-width: 450px){
  #hero .hero-contact{
    display: none;
  }
  #hero {
    margin: 82px 0 124px 0;
}
  #hero .hero-search input {
    width: 67%;
    padding: 7px 0 7px 38px;
}
#hero .hero-desc_title {
  font-size: 31px;
  line-height: normal;
  margin: 13px 0;
}
#hero .hero-desc_subtitle {
  font-size: 17px;
}
#hero .hero-desc p {
  width: 72%;
  font-size: 16px;
}
#hero .hero-block {
  width: 75%;
  top: -148px;
  left: -72px;
  height: 392px;
  margin: 0 auto;
}
#hero .hero-block .sm-1 {
  top: 24px;
  width: 116px;
  height: 115px;
  left: 37px;
}
#hero .hero-block .lg-1 {
  height: 190px;
  width: 190px;
  top: -14px;
  right: -8px;
}
#hero .hero-block .lg-2 {
  bottom: -8px;
  width: 190px;
  height: 190px;
  left: -3px;
}
#hero .hero-block .sm-2 {
  bottom: 44px;
  width: 115px;
  height: 115px;
  right: 44px;
}
#hero .hero-block .sm-2 {
  bottom: 44px;
  width: 115px;
  height: 115px;
  right: 44px;
}
}
@media (max-width: 400px) {
  #hero .hero-contact{
    display: none;
  }
  #hero {
    margin: 83px 0 124px 0;
}
  #hero .hero-search input {
    width: 58%;
    padding: 4px 0 4px 38px;
}
#hero .hero-desc_subtitle {
  font-size: 15px;
}
#hero .hero-desc_title {
  font-size: 28px;
  line-height: normal;
  margin: 13px 0;
}
#hero .hero-desc p {
  width: 63%;
  font-size: 14px;
}
#hero .hero-block {
  width: 65%;
  top: -148px;
  left: -95px;
  height: 364px;
  margin: 0 auto;
}
hero .hero-block {
  width: 65%;
  top: -148px;
  left: -95px;
  height: 364px;
  margin: 0 auto;
}

#hero .hero-block .sm-1 {
  top: 17px;
  width: 100px;
  height: 100px;
  left: 32px;
}
#hero .hero-block .sm-2 {
  bottom: 40px;
  width: 100px;
  height: 100px;
  right: 22px;
}
#hero .hero-block .lg-2 {
  bottom: -4px;
  width: 170px;
  height: 170px;
  left: -6px;
}
hero .hero-block .lg-1 {
  height: 170px;
  width: 170px;
  top: -13px;
  right: -3px;
}
}
@media (max-width: 376px) {
  #hero .hero-contact{
    display: none;
  }
  #hero .hero-search input {
    width: 54%;
    padding: 2px 0 2px 38px;
}
#hero .hero-desc_subtitle {
  font-size: 15px;
}
#hero .hero-desc_title {
  font-size: 25px;
  line-height: normal;
  margin: 13px 0;
}
#hero .hero-desc p {
  width: 55%;
  font-size: 12px;
}
#hero .hero-block {
  width: 62%;
  top: -148px;
  left: -103px;
  height: 332px;
  margin: 0 auto;
}
#hero .hero-block .lg-1 {
  height: 175px;
  width: 175px;
  top: -8px;
  right: -8px;
}
#hero .hero-block .lg-2 {
  bottom: -8px;
  width: 165px;
  height: 165px;
  left: -6px;
}
#hero {
  margin: 60px 0 124px 0;
}
}
@media (max-width: 320px){
  #hero .hero-contact{
    display: none;
  }
  #hero .hero-search input {
    width: 45%;
    padding: 1px 0 1px 38px;
}
#hero .hero-desc_subtitle {
  font-size: 14px;
}
#hero .hero-desc_title {
  font-size: 22px;
  line-height: normal;
  margin: 12px 0;
}
#hero .hero-desc p {
  width: 51%;
  font-size: 11px;
}
#hero .hero-block {
  width: 51%;
  top: -148px;
  left: -130px;
  height: 282px;
  margin: 0 auto;
}
#hero .hero-block .sm-1 {
  top: 6px;
  width: 80px;
  height: 80px;
  left: 21px;
}
#hero .hero-block .lg-1 {
  height: 140px;
  width: 140px;
  top: -8px;
  right: -4px;
}
#hero .hero-block .lg-2 {
  bottom: -4px;
  width: 140px;
  height: 140px;
  left: -6px;
}

}
