#about{
  padding: 18% 0 0 0;
  .about{
    display: flex;
    align-items: center;
    justify-content: space-between;
    &--images{
      width: 493px;
      height: 536px;
      border: 3px solid var(--text-212121, #212121);
      &__motion{
        margin: -106px 0 0px 52px;
        width: 110%;
        max-width: 200%;
        img{
          width: 110%;
          max-width: 200%;
        }
      }
    }
    &--title{
      margin: -190px -70px 0 0px;
      h3{
        color: #6483F6;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        text-transform: uppercase;
      }
      h1{
        width: 99%;
        color: #333;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 52px;
        font-style: normal;
        font-weight: 500;
        line-height: 64px;
        margin: 18px 0 28px 0;
      }
      h5{
        width: 410px;
        height: 71px;
        color: #333;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
      }
      p{
        width: 410px;
        height: 118px;
        color: rgba(51, 51, 51, 0.50);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        margin: 11px 0 0 0;
      }
    }
  }
}
@media (max-width: 1440px) {
  .container{
    width: 90%;
  }
}
@media (max-width: 1200px) {
  #about .about--title {
    margin: -190px -170px 0 0px;
  }
  #about .about--images__motion img {
    width: 100%;
  }
  #about .about--images {
    height: 490px;
  }
}
@media (max-width: 1024px) {
  #about .about--images__motion img {
    width: 374px;
    height: 385px;
    margin: 27px 0 0 0;
  }
  #about .about--images{
    width: 330px;
    height: 332px;
  }
  #about .about--title {
    margin: -157px 0 0 0;
  }
  #about .about--title h3{
    font-size: 16px;
    font-weight: 600;
  }
  #about .about--title h1 {
    margin: 7px 0 20px 0;

    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 38px;
    font-weight: 500;
    line-height: 50px;
  }
  #about .about--title h5{
    width: 366px;
    height: 55px;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
  }
  #about .about--title p{
    width: 366px;
    height: 91px;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;

    margin: 5px 0 0 0;
  }
}
@media (max-width: 768px) {
  #about .about {
    flex-wrap: wrap-reverse;
  }
  #about .about--images {
    width: 330px;
    margin: 120px 0 0 0;
    height: 332px;
  }
  #about .about--title {
    margin: -55px 0 0 0;
  }
}

@media (max-width: 450px) {
  #about .about--images{
    width: 273px;
    height: 319px;
    margin: 35px 0 0 0;
  }
  #about .about--images__motion img {
    width: 292px;
    height: 299px;
    margin: 115px 0 0 -44px;
  }
}
@media (max-width: 376px) {
  #about .about--title h3{
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-weight: 700;
    line-height: 32px;
  }
  #about .about--title h1{
    width: 213px;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 28px;
    font-weight: 500;
    line-height: 38px;
  }
  #about .about--title h5{
    width: 323px;
    height: 71px;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin: 18px 0 24px 0;
  }
  #about .about--title p{
    width: 325px;
    height: 161px;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
  }
  #about .about--title {
    margin: 0 0 0 0;
  }
}
@media (max-width: 320px) {
  #about .about--title h5 {
    width: 265px;
  }
  #about .about--title p {
    width: 284px;
  }
  #about .about--images {
    width: 241px;
    height: 281px;
  }
  #about .about--images__motion img {
    width: 252px;
    height: 260px;
  }
}