#flag {
  padding: 100px 0;
  h1 {
    color: #212121;
    font-family: Gilroy, sans-serif;
    font-size: 48px;
    font-weight: 500;
    margin: 0 0 44px 15px;
  }
  .flag {
    &--block {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      a{
        color: #000;
      }
      &__one {
        width: 256px;
        height: 270px;
        border-radius: 14px;
        background: #fdfdfd;
        box-shadow: 4.82119607925415px 7.713913440704346px 24.10597801208496px
        0 rgba(0, 0, 0, 0.1);
        text-align: center;
        margin-top: 100px;
        h2 {
          color: #212121;
          font-family: Montserrat, sans-serif;
          font-size: 24px;
          font-weight: 400;
          padding-top: 20px;
        }
        img {
          width: 172px;
          height: 172px;
        }
      }
    }
    &--select {
      display: flex;
      align-items: center;
      justify-content: start;
      outline: none;
      border: none;
      margin-left: -25px;
      select {
        cursor: pointer;
        outline: none;
        border: none;
        background: #fdfdfd;
        text-align: center;
        font-size: 17px;
        option {
          border: none;
          outline: none;
          padding: 20px 300px;

        }
      }
      &__options{
        margin: 0 0 0 55px;
      }
    }
  }
}

@media (max-width: 1440px) {
  .container{
    width: 90%;
  }
}
@media (max-width: 1024px) {
  #flag .flag--block__one {
    display: inline-flex;
    padding: 25px 0px 49px 1px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 14px;
    background: #FDFDFD;
    box-shadow: 4px 7px 23px 3px rgba(0, 0, 0, 0.1);
  }
  #flag .flag--block__one img {
    width: 170px;
    height: 170px;
    margin-left: 0;
  }
  #flag .flag--block__one h2{
    font-size: 23px;
    font-weight: 400;
  }
  #flag h1{
    color: var(--text-212121, #212121);
    font-size: 38px;
    font-weight: 500;

    margin: 0 0 70px 0;
  }
  #flag .flag--select select{
    font-size: 18px;
    font-weight: 500;
    width: 187px;
    height: 22px;
  }
  #flag .flag--select{
    margin-left: -15px;
  }
}
@media (max-width: 576px) {
  #flag .flag--block__one img {
    width: 140px;
    height: 140px;
  }
  #flag .flag--block__one {
    width: 450px;
    height: 225px;
    display: flex;
    flex-direction: inherit;
    padding: 0 2px 0 42px;
    margin-top: 45px;
  }
  #flag .flag--block__one h2 {
    margin: 0 0 0 65px;
  }
  #flag .flag--select{
    flex-wrap: wrap;
  }
  #flag .flag--select__options {
    margin: 0 0 0 -13px;
  }
  #flag .flag--select select {
    font-size: 18px;
    font-weight: 500;
    width: 165px;
    height: 22px;
  }
}
@media (max-width: 450px) {
  #flag .flag--select__options {
    margin: 10px 0 0 -30px;
  }
  #flag h1 {
    margin: 0 0 45px 0;
  }
  #flag .flag--select {
    margin-left: 0px;
  }
  #flag .flag--block__one {
    width: 352px;
    height: 219px;
    padding: 0 2px 0 22px;
  }
  #flag .flag--block__one h2 {
    margin: 0 0 0 18px;
  }
}
@media (max-width: 400px) {
  #flag .flag--block__one {
    width: 316px;
    height: 202px;
  }
  #flag .flag--block__one img {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 376px) {
  #flag h1{
    font-size: 28px;
    font-weight: 500;
  }
  #flag .flag--select select{
    display: flex;
    height: 24px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 13px;
    flex-shrink: 0;
  }
  #flag .flag--select__options {
    margin: 10px 0 0 0px;
  }
  #flag .flag--block__one {
    display: flex;
    width: 281px;
    height: 80px;
    padding: 15px 28px 17px 18px;
    align-items: center;
    gap: 26px;
    border-radius: 4px;
    border: 1px solid #BBB;
  }
  #flag .flag--block__one img{
    width: 48px;
    height: 48px;
  }
  #flag .flag--block__one h2{
    width: 130px;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0;
  }
}
@media (max-width: 320px) {
  #flag .flag--select select {
    margin: 10px 0 0 0;
  }
  #flag .flag--select__options {
    margin: 0;
  }
  #flag .flag--block__one {
    width: 230px;
    height: 60px;
    margin-top: 25px;
  }

}