#flag {
  padding: 100px 0;
  h1 {
    color: #212121;
    font-family: Gilroy, sans-serif;
    font-size: 48px;
    font-weight: 500;
    margin: 0 0 44px 15px;
  }
  .flag {
    &--block {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-wrap: wrap;
      a{
        color: #000;
      }
      &__one {
        width: 256px;
        height: 270px;
        border-radius: 14px;
        background: #fdfdfd;
        box-shadow: 4.82119607925415px 7.713913440704346px 24.10597801208496px
        0 rgba(0, 0, 0, 0.1);
        text-align: center;
        margin-top: 100px;
        h2 {
          color: #212121;
          font-family: Montserrat, sans-serif;
          font-size: 24px;
          font-weight: 400;
          padding-top: 20px;
        }
        img {
          width: 172px;
          height: 172px;
          margin-left: 40px;
        }
      }
    }
    &--select {
      display: flex;
      align-items: center;
      justify-content: start;
      outline: none;
      border: none;
      margin-left: -25px;
      select {
        cursor: pointer;
        outline: none;
        border: none;
        background: #fdfdfd;
        text-align: center;
        font-size: 17px;
        option {
          border: none;
          outline: none;
          padding: 20px 300px;

        }
      }
      &__options{
        margin: 0 0 0 55px;
      }
    }
  }
}