#header {
  padding: 20px 0;
  border-top: 6px solid #FF6A6A;
  background: rgb(255, 255, 255);
  top: 0;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 8px 24px rgba(0, 0, 0, 0.1);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;


    &--title {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 150px;
      .active {
        position: relative;

        &::before {
          transition: .5s;
          content: '';
          position: absolute;
          width: 8px;
          height: 8px;
          background-color: rgba(255, 0, 0, 0.62);
          border-radius: 50%;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
        }
      }

      h3 {
        margin: 0 25px;
        font-size: 16px;
        color: black;
        font-weight: 400;
        position: relative;

        &:hover {
          &::before {
            content: '';
            position: absolute;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: rgba(255, 0, 0, 0.62);
            bottom: -10px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }

    }
    &--men{
      display: none;
      &__div{
        position: absolute;
        z-index: -1;
        margin-left: -107px;
        margin-top: -47px;
        width: 154px;
        height: 227px;
        border-radius: 20px;
        background: green;
        &--nav{
          margin-top: 45px;
          font-weight: 400;
          margin-left: 10px;
          
          .h1{
            margin: 10px 10px ;
            &:hover{
              position: relative;
              &::before{
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                background-color: rgba(255, 0, 0, 0.66);
                border-radius: 50%;
                left: 65px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
          .h2{
            margin: 10px 10px ;
            &:hover{
              position: relative;
              &::before{
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                background-color: rgba(255, 0, 0, 0.66);
                border-radius: 50%;
                left: 90px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
          .h3{
            margin: 10px 10px ;
            &:hover{
              position: relative;
              &::before{
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                background-color: rgba(255, 0, 0, 0.66);
                border-radius: 50%;
                left: 125px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
          .h4{
            margin: 10px 10px ;
            &:hover{
              position: relative;
              &::before{
                content: '';
                position: absolute;
                width: 8px;
                height: 8px;
                background-color: rgba(255, 0, 0, 0.66);
                border-radius: 50%;
                left: 80px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }

    &--search {
      display: flex;
      align-items: center;
      position: relative;

      p {
        position: absolute;
        left: 10px;
        cursor: pointer;
        z-index: 2;
      }

      &__includes {
        position: absolute;
        width: 200px;
        background: #fff;
        left: 0;
        top: 50px;
        padding: 10px;
        box-shadow: 4px 3px 10px black;
        border-radius: 4px;

        h1 {
          cursor: pointer;
          margin: 4px 0;
        }
      }

      input {
        width: 187px;
        height: 43px;
        flex-shrink: 0;
        padding-left: 40px;
        border-radius: 8px;
        border: 0.8px solid rgba(86, 9, 187, 0.20);
        opacity: 0.95;
        background: rgba(255, 255, 255, 0.95);
        outline: none;
      }

      &__option {
        padding-left: 40px;

        select {
          border: none;
          outline: none;
        }
      }
    }

  }
}
@media (max-width: 400px){
  #header .header--men__div {
    position: absolute;
    z-index: -1;
    margin-left: -349px;
    margin-top: 20px;
    width: 401px;
    height: 452px;
    border-radius: 4px;
    background: #E9F3FF;
}
#header .header--men__div--nav .h1 {
  color: black;
  font-weight: 400;
  margin: 40px 0 40px 40px ;

}#header .header--men__div--nav .h2 {
  color: black;
  font-weight: 400;
  margin: 40px 0 40px 40px ;

}#header .header--men__div--nav .h3 {
  color: black;
  font-weight: 400;
  margin: 40px 0 40px 40px ;

}#header .header--men__div--nav .h4 {
  color: black;
  font-weight: 400;
  margin: 40px 0 40px 40px ;

}
#header .header--men__div--nav__color{
  display: flex;
    justify-content: space-around;
    width: 135px;
    font-size: 23px;
    margin-left: 30px;
}
#header .header--men__div--nav__icons{
    font-size: 44px;
    margin-top: 37px;
    display: flex;
    justify-content: space-around;
    width: 315px;
    margin-left: 23px;
}
#header .header--men__div--nav__icons--lol{
  font-size: 54px;
  margin: -3px 2px 0 -9px;
}
}
@media (max-width: 320px) {
  #header .header--men__div {
    position: absolute;
    z-index: -1;
    margin-left: -273px;
    margin-top: 20px;
    width: 320px;
    height: 452px;
    border-radius: 4px;
    background: #E9F3FF;
}

#header .header--men__div--nav__icons {
  font-size: 44px;
  margin-top: 37px;
  display: flex;
  justify-content: space-around;
  width: 280px;
  margin-left: 23px;
}
}
  











































