#header {
  padding: 20px 0;
  border-top: 6px solid #ff6a6a;
  background: rgb(255, 255, 255);
  top: 0;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 8px 24px rgba(0, 0, 0, 0.1);

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &--title {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 150px;

      .active {
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          background-color: rgba(255, 0, 0, 0.62);
          border-radius: 50%;
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
          transition: 0.5s;
        }
      }

      h3 {
        margin: 0 25px;
        font-size: 16px;
        color: black;
        font-weight: 400;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          background-color: rgba(255, 0, 0, 0.62);
          bottom: -10px;
          left: 50%;
          transform: translateX(-50%);
          transition: 0.5s;
          opacity: 0; // Start with zero opacity
        }

        &:hover::before {
          width: 8px; // Adjust the size as needed
          height: 8px; // Adjust the size as needed
          background-color: rgba(
            255,
            0,
            0,
            0.9
          ); // Adjust the color and opacity as needed
          opacity: 1; // Fade-in the element on hover
        }
      }
    }

    &--men {
      display: none;
      &__div {
        position: absolute;
        z-index: -1;
        margin-left: -107px;
        margin-top: -47px;
        width: 154px;
        height: 227px;
        border-radius: 20px;
        background: green;
        &--nav {
          margin-top: 45px;
          font-weight: 400;
          margin-left: 10px;

          .h1 {
            margin: 10px 10px;
            &:hover {
              position: relative;
              &::before {
                transition: 4s;

                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                background-color: rgba(255, 0, 0, 0.66);
                border-radius: 50%;
                left: 65px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
          .h2 {
            margin: 10px 10px;
            &:hover {
              transition: 4s;

              position: relative;
              &::before {
                transition: 4s;

                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                background-color: rgba(255, 0, 0, 0.66);
                border-radius: 50%;
                left: 90px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
          .h3 {
            margin: 10px 10px;
            &:hover {
              transition: 4s;

              position: relative;
              &::before {
                transition: 4s;

                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                background-color: rgba(255, 0, 0, 0.66);
                border-radius: 50%;
                left: 125px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
          .h4 {
            margin: 10px 10px;
            &:hover {
              transition: 4s;

              position: relative;
              &::before {
                transition: 4s;

                content: "";
                position: absolute;
                width: 8px;
                height: 8px;
                background-color: rgba(255, 0, 0, 0.66);
                border-radius: 50%;
                left: 80px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }
      }
    }
    &--search {
      display: flex;
      align-items: center;
      position: relative;

      p {
        position: absolute;
        left: 10px;
        cursor: pointer;
        z-index: 2;
      }

      &__includes {
        position: absolute;
        width: 200px;
        background: #fff;
        left: 0;
        top: 50px;
        padding: 10px;
        box-shadow: 4px 3px 10px black;
        border-radius: 4px;

        h1 {
          cursor: pointer;
          margin: 4px 0;
        }
      }

      input {
        width: 187px;
        height: 43px;
        flex-shrink: 0;
        padding-left: 40px;
        border-radius: 8px;
        border: 0.8px solid rgba(86, 9, 187, 0.2);
        opacity: 0.95;
        background: rgba(255, 255, 255, 0.95);
        outline: none;
      }

      &__option {
        padding-left: 40px;

        select {
          border: none;
          outline: none;
        }
      }
    }
  }
}

@media (max-width: 1440px) {
  .container {
    width: 90%;
  }
}

@media (max-width: 1200px) {
  #header .header--title {
    margin: 0 0 0 100px;
  }
}
@media (max-width: 992px) {
  #header .header--title {
    margin: 0 0 0 41px;
  }
  #header .header--title h3 {
    margin: 0 19px;
    font-size: 15px;
    color: black;
    font-weight: 400;
    position: relative;
  }
}
// 
@media (max-width: 768px) {
  #header .header--men__div--nav {
    margin-top: 72px;
    font-weight: 400;
    margin-left: 10px;
}
  #header .header--men__div--nav .h1:hover::before {
    /* transition: 4s; */
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    background-color: rgba(255, 0, 0, 0.66);
    border-radius: 50%;
    left: 75px;
    top: 50%;
    transform: translateY(-50%);
}
#header .header--men__div--nav .h2:hover::before {
  /* transition: 4s; */
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: rgba(255, 0, 0, 0.66);
  border-radius: 50%;
  left: 101px;
  top: 50%;
  transform: translateY(-50%);
}
#header .header--men__div--nav .h3:hover::before {
  /* transition: 4s; */
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: rgba(255, 0, 0, 0.66);
  border-radius: 50%;
  left: 147px;
  top: 50%;
  transform: translateY(-50%);
}
#header .header--men__div--nav .h4:hover::before {
  /* transition: 4s; */
  content: "";
  position: absolute;
  width: 11px;
  height: 11px;
  background-color: rgba(255, 0, 0, 0.66);
  border-radius: 50%;
  left: 102px;
  top: 50%;
  transform: translateY(-50%);
}
  #header .header--men__div--nav__navcolor{
    display: flex;
    justify-content: space-between;
    width: 129px;
    margin-top: 30px;
    margin-left: 10px;
    font-size: 30px;
  }
  #header .header--men__div--nav__navicons{
      display: flex;
    font-size: 41px;
    justify-content: space-around;
    margin-top: 28px;
    width: 210px;


    
  }

  #header .header--men__div--nav .h1 {
    font-weight: 400;
    margin: -26px 10px;
}#header .header--men__div--nav .h2 {
    font-weight: 400;
    margin: 10px 10px;
}#header .header--men__div--nav .h3 {
    font-weight: 400;
    margin: -24px 10px;
}#header .header--men__div--nav .h4 {
    font-weight: 400;
    margin: 10px 10px;
}
  #header .header--men {
    display: block;
  }
  #header .header--title h3:hover::before {
    content: "";
    position: absolute;
    display: none;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255, 0, 0, 0.62);
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
  }
  #header .header--search input {
    display: none;
  }
  #header .header--search p {
    display: none;
  }
  #header .header--title h3 {
    margin: 0 17px;
  }
  #header .header--burger {
    display: block;
  }
  #header .header--title {
    display: none;
  }
  #header .header--search__option select {
    display: none;
  }
  #header .header--burger {
    margin-left: 552px;
  }
  #header .header--title .active::before {
    width: 8px;
    height: 8px;
    bottom: 3px;
    left: 96%;
  }
  #header .header--men__div {
    position: absolute;
    z-index: -1;
    margin-left: -201px;
    margin-top: -47px;
    width: 247px;
    height: 356px;
    border-radius: 5px;
    background: #e9f3ff;
}
a {
  font-size: 23px;
  /* font-weight: 400; */
  color: black;
  text-decoration: none;
  list-style: none;
}
}
// #header .header--men__div--nav__navicons {
//   display: flex;
//   font-size: 46px;
//   justify-content: space-around;
//   margin-top: 28px;
//   margin-left: 32px;
//   width: 307px;
// }
@media (max-width: 400px) {
  #header .header--men__div--nav .h1:hover::before {
    transition: 4s;
    content: "";
    position: absolute;
    width: 10px;
    height: 11px;
    background-color: rgba(255, 0, 0, 0.66);
    border-radius: 50%;
    left: 75px;
    top: 50%;
    transform: translateY(-50%);
}
#header .header--men__div--nav .h4:hover::before {
  transition: 4s;
  content: "";
  position: absolute;
  width: 10px;
  height: 11px;
  background-color: rgba(255, 0, 0, 0.66);
  border-radius: 50%;
  left: 106px;
  top: 50%;
  transform: translateY(-50%);
}
  #header .header--men__div--nav .h2:hover::before {
    transition: 4s;
    content: "";
    position: absolute;
    width: 10px;
    height: 11px;
    background-color: rgba(255, 0, 0, 0.66);
    border-radius: 50%;
    left: 110px;
    top: 55%;
    transform: translateY(-50%);
}
  #header .header--men__div--nav .h3:hover::before {
    transition: 4s;
    content: "";
    position: absolute;
    width: 10px;
    height: 11px;
    background-color: rgba(255, 0, 0, 0.66);
    border-radius: 50%;
    left: 153px;
    top: 50%;
    transform: translateY(-50%);
}
  #header .header--men__div--nav__navcolor {
    display: flex;
    justify-content: space-between;
    width: 129px;
    margin-top: 30px;
    margin-left: 44px;
    font-size: 30px;
}
  #header .header--men__div {
    position: absolute;
    z-index: -1;
    margin-left: -349px;
    margin-top: 20px;
    width: 401px;
    height: 710px;
    border-radius: 4px;
    background: #e9f3ff;
  }
  #header .header--men__div--nav .h1 {
    color: black;
    font-weight: 400;
    margin: 4px 0 -38px 40px;
}
#header .header--men__div--nav .h2 {
  color: black;
  font-weight: 400;
  margin: 40px 0 -36px 40px;
}
  #header .header--men__div--nav .h3 {
    color: black;
    font-weight: 400;
    margin: 39px 0 -33px 40px;
}
  #header .header--men__div--nav .h4 {
    color: black;
    font-weight: 400;
    margin: 40px 0 40px 40px;
  }
  #header .header--mendiv--navcolor {
    display: flex;
    justify-content: space-around;
    width: 135px;
    font-size: 23px;
    margin-left: 30px;
  }
  #header .header--men__div--nav__navicons {
    display: flex;
    font-size: 47px;
    justify-content: space-around;
    margin-top: 35px;
    margin-left: 27px;
    width: 263px;
}
  #header .header--mendiv--navicons--lol {
    font-size: 54px;
    margin: -3px 2px 0 -9px;
  }
}
@media (max-width: 320px) {
  #header .header--men__div {
    position: absolute;
    z-index: -1;
    margin-left: -273px;
    margin-top: 20px;
    width: 320px;
    height: 452px;
    border-radius: 4px;
    background: #e9f3ff;
  }

  #header .header--mendiv--navicons {
    font-size: 44px;
    margin-top: 37px;
    display: flex;
    justify-content: space-around;
    width: 280px;
    margin-left: 23px;
  }
}
