@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

// Font Family
$Montserrat: 'Montserrat', sans-serif;

// Colors
// Text
$text-white: #FFFFFF;
$text-gray: #B5B5B5;
$heading-dark: #212121;
$text-medium: #333333;
$color-blue: #001254;
$text-dark: #010D39;

// Background
$bg-main: #FF6A6A;
$bg-secondary: #5609BB;
$bg-light: #FFFFFF;

// Font Size
// Headings
$h1-64: 64px;
$h1-52: 52px;
$h1-48: 48px;
$h1-44: 44px;
$h1-40: 40px;
$h1-768: 36px;
$h2-36: 36px;
$h3-32: 32px;
$h4-24: 24px;
$h5-18: 18px;

// Paragraph
$text-12: 12px;
$text-14: 14px;
$text-16: 16px;
$text-18: 18px;
$text-20: 20px;
$text-24: 24px;












