#load{
  position: absolute;
  top: 47%;
  left: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  .load{
    h1{
      display: flex;
      align-items: center;
      span{
        font-family: 'SF Pro Display', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 78px;
        line-height: 93px;
        text-align: center;
        text-transform: capitalize;
        color: #5609BB;
      }
    }
  }
}

@media (max-width: 1140px) {
  #load{
    top: 46%;
    .load{
      h1{
        span{
          font-size: 70px;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  #load{
    top: 45%;
    .load{
      h1{
        span{
          font-size: 60px;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #load{
    top: 41%;
    left: 41%;
    .load{
      h1{
        span{
          font-size: 50px;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #load{
    top: 40%;
    left: 40%;
    .load{
      h1{
        span{
          font-size: 46px;
        }
      }
    }
  }
}