#youtube {

  h2 {
    text-align: center;
    color: var(--text-212121, #212121);
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 14% 0 7% 0;
  }
  .youtube {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    iframe {
      width: 490px;
      height: 300px;
      margin: 15px;
      border-radius: 5px;
      background: lightgray 50% / cover no-repeat, #A96565;
    }
  }
}