#abroad {
  padding-bottom: 180px;
  .span{
    color: var(--text-212121, #212121);
    font-family: Gilroy, sans-serif;
    font-size: 48px;
    font-weight: 500;
    padding: 11px 0;
    margin-top: 50px;
    border-bottom: 3px solid #6483F6;
  }
  h2 {
    padding: 110px 0;
    color: var(--text-212121, #212121);
    font-family: Gilroy, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
  }


  .abroad {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &--left{
      h4{
        color: var(--text-1212, #010D39);
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 182.836%;
        margin-top: 55px;
      }
      h5{
        margin: 5px 0;
        text-transform: lowercase;
        color: #010D39;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%;
      }
      &__p {
        width: 425px;
        color: #000000;
        font-size: 18px;
        font-weight: 400;
        line-height: 126%;
      } span{
          font-weight: 500;
        }
      button{
        display: flex;
        width: 180px;
        padding: 15px 72px 15px 72px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        font-weight: 500;
        background: #109FEF;
        border-radius: 55px;
        margin: 25px 0;
        color: #FDFDFD;
        border: none;
      }

      p{
        width: 460px;
      }
    }
    &--right {
      margin: -192px 0 0 -80px;
      width: 370px;
      height: 370px;
      flex-shrink: 0;
      border: 3px solid var(--text-212121, #212121);
      opacity: 8;
      &__img{
        img {
          width: 370px;
          height: 480px;
          left: 317px;
          top: 444px;
          position: absolute;
        }
      }
    }
  }
}
@media (max-width: 1440px) {
  .container{
    width: 90%;
  }
  #abroad .abroad--right__img img {
    left: 73px;
    top: 444px;
  }
  #abroad .abroad--right {
    margin: -196px 0 0 -90px;
  }
}
@media (max-width: 1200px) {
  #abroad .abroad--right__img img {
    width: 30%;
    height: 52%;
  }
  #abroad .abroad--right {
    margin: -175px 0 0 -35px;
  }
}
@media (max-width: 1024px) {
  #abroad h2{
    width: 338px;
    font-size: 38px;
    font-weight: 500;
  }
  #abroad {
    padding-bottom: 120px;
  }
  #abroad .abroad--right {
    width: 291.349px;
    height: 291.349px;
    margin: 0px 0 226px 0;
  }
  #abroad .abroad--right__img img{
    width: 291.349px;
    height: 377.967px;
  }

  #abroad .abroad--left p{
    width: 425px;
    font-size: 16px;
    font-weight: 400;
    line-height: 142%;
  }
  #abroad .abroad--left h4 {
    width: 372px;
    color: var(--text-1212, #010D39);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 182%;
    text-transform: uppercase;
  }
  #abroad .abroad--left h5{
    color: var(--text-1212, #010D39);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 182%;
    text-transform: lowercase;
  }
  #abroad .abroad--left button{
    display: flex;
    width: 150px;
    padding: 14px 52.001px 13px 51.999px;
    justify-content: center;
    align-items: center;
    border-radius: 57px;
    background: #109FEF;

    color: #FDFDFD;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: normal;
  }
}
@media (max-width: 992px) {
  #abroad .abroad--right__img img {
    width: 291.349px;
    height: 377.967px;
    left: 50px;
  }
  #abroad .abroad--right {
    margin: 0 0 228px -11px;
  }
}
@media (max-width: 768px) {
  #abroad .abroad {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  #abroad .abroad--right__img img {
    width: 338.349px;
    height: 377.967px;
    margin: -114px 0 0px 118px;
  }
  #abroad {
    padding-bottom: 100px;
  }
  #abroad .abroad--right {
    margin: -35px 0 100px -4px;
    width: 300px;
    height: 415px;
  }
  #abroad h2 {
    font-size: 34px;
  }
  #abroad .span {
    font-size: 38px;
    font-weight: 500;
  }

}
@media (max-width: 576px) {
  #abroad .abroad--right__img img {
    margin: -114px 0 0px 27px;
  }
  #abroad {
    padding-bottom: 80px;
  }
}
@media (max-width: 450px) {
  #abroad h2{
    width: 188px;
    font-size: 28px;
    font-weight: 500;
  }
  #abroad .span{
    width: 188px;
    font-size: 28px;
    font-weight: 500;
  }
  #abroad .abroad--right {
    width: 273px;
    height: 319px;
    margin-bottom: 210px;
  }
  #abroad {
    margin-top: -55px;
    margin-bottom: 40px;
  }
  #abroad .abroad--right__img img {
    width: 295px;
    height: 296px;
    margin: -186px 0 0 0;
  }
  #abroad .abroad--left p span{
    width: 335px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-transform: capitalize;
  }
  #abroad .abroad--left p{
    width: 335px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: -160px;
  }
  #abroad .abroad--left h4{
    width: 334px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
  }
  #abroad .abroad--left h5{
    width: 334px;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-transform: lowercase;
  }
  #abroad .abroad--left button{
    display: flex;
    width: 290px;
    padding: 19px 119px 19px 106px;
    align-items: center;
    border-radius: 80px;
    background: #109FEF;

    color: #FFF;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
  }
}
@media (max-width: 400px) {
  #abroad .abroad--right__img img {
    margin: -186px 0 0 -18px;
  }
  #abroad .abroad--right {
    margin-left: 12px;
  }
  #abroad {
    margin-bottom: -110px;
  }
}
@media (max-width: 376px) {
  #abroad .abroad--right__img img {
    width: 288px;
  }
}
@media (max-width: 320px) {
  #abroad .abroad--right__img img {
    width: 255px;
    height: 255px;
    margin: -152px 0 0 -31px;
  }
  #abroad .abroad--right {
    width: 219px;
    height: 279px;
    margin: -1px 0 226px 43px;
  }
  #abroad .abroad--left p {
    width: 261px;
  }
  #abroad .abroad--left h5 {
    width: 272px;
  }
  #abroad .abroad--left p {
    width: 261px;
    margin: -160px 0 -15px 45px;
  }
  #abroad .abroad--left h5 {
    width: 272px;
    margin: 4px 0 0 45px;
  }
  #abroad .abroad--left h4 {
    width: 334px;
    font-size: 20px;
    font-weight: 500;
    line-height: 28px;
    text-transform: uppercase;
    margin: 55px 0 0 45px;
  }
  #abroad .abroad--left button {
    width: 286px;
    margin: 30px 0 0 44px;
  }
}