#footer {
  margin-top: 60px;
  background: #000;
  padding: 60px;
  img {
    width: 60px;
  }
  .footer {
    h1{
      margin-top: 20px;
      margin-left: -90px;
      color: #FDFDFD;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: capitalize;
      text-align: center;
    }
    &--text{
      display: flex;
      align-items: center;
      justify-content: space-between;

    }
    h3 {
      color: #FDFDFD;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: capitalize;
      margin: 0 30px;
    }
    &--icons {
      color: white;
      display: flex;
      margin: 0;
      fill: #FFF;
    }
    &--title {
      background: white;
      width: 1225px;
      height: 1px;
      margin-top: 50px;
    }
  }
}
@media (max-width: 1440px) {
  .container{
    width: 90%;
  }
}
@media (max-width: 1200px) {
  #footer .footer--title {
    background: white;
    width: 100%;
    height: 1px;
    margin-top: 50px;
  }
}
@media (max-width: 1024px) {
  #footer .footer h3{
    font-size: 11px;
    font-weight: 500;
  }
  #footer .footer h1 {
    width: 122px;
    font-size: 9px;
    font-weight: 500;
    margin: 12px 0 0 301px;
  }
}
@media (max-width: 768px) {
  #footer .footer h3 {
    margin: 0 15px;
  }
  #footer .footer h1 {
    margin: 12px 0 0 198px;
  }


}
@media (max-width: 576px) {
  #footer .footer h3{
    display: none;
  }
  #footer .footer h1 {
    width: 150px;
    font-size: 13px;
    margin: 12px 0 0 0;
  }
  #footer .footer--title {
    width: 97%;
    margin-top: 25px;
  }
  #footer {
    margin-top: 60px;
    background: #000;
    padding: 60px 0;
  }
}